.panel {
	border: 3px solid #CCCCCC;
	clear: both;
	display: none;
	padding: 1em;
}

.panel.active-tab-body {
	display: block;
}

#tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#tabs li {
	float: left;
}

#tabs a {
	background-color: #F2F2F2;
	color: #999999;
	float: left;
	margin-left: 6px;
	padding: 5px 8px;
	text-decoration: none;
}

#tabs a.active-tab {
	background-color: #CCCCCC;
	border-top: 3px solid #999999;
	color: #000000;
	padding-top: 3px;
}

input.disabled {
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
}

input.required,textarea.required {
	border: 1px solid #00A8E6;
}

input.validation-failed,textarea.validation-failed {
	border: 1px solid #FF3300;
	color: #FF3300;
}

input.validation-passed,textarea.validation-passed {
	border: 1px solid #00CC00;
	color: #000000;
}

.validation-advice {
	background-color: #F3F3F3;
	border-bottom: 2px ridge Maroon;
	border-top: 2px ridge Maroon;
	color: #FF6060;
	font-weight: bold;
	margin: 5px 0pt;
	padding: 5px;
	text-align: center;
}

.custom-advice {
	background-color: #C8AA00;
	color: #FFFFFF;
	font-weight: bold;
	margin: 5px 0pt;
	padding: 5px;
}

.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {
	
}

.field-widget {
	
}