<!-- BEGIN: main -->
<div class="block"><table border="1">	<thead>	<tr>		<!-- BEGIN: TH -->				<th>					<a title="Ordenar por {ordenar_por} - {orden}" alt="Ordenar por {ordenar_por} - {orden}" 				href="{urlASC}">				{encabezado}			</a>									</th>		<!-- END: TH -->		<th></th>	</tr>	</thead>
	<!-- BEGIN: row -->	<tbody class="{row_class}">
	<tr>
		<!-- BEGIN: column -->
		<td>{value}</td>
		<!-- END: column -->
	</tr>	</tbody>
	<!-- END: row -->
</table>
</div>


<!-- END: main -->